server:
  port: 8080
  virtual-threads:
    enabled: true

spring:
  datasource:
    url: jdbc:postgresql://db.example.com:5432/todo
    username: user_example
    password: secret123
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: kafka.example.com:9092
    consumer:
      group-id: example-group
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: com.example.common.events,com.example.common.dto
